version: '2'

services:

  nginx:
    build:
      context: .
      dockerfile: .docker/nginx.dockerfile
    links:
      - node1:node1
    depends_on:
      - node1
    ports:
      - "8080:80"
    networks:
      - app-network

  node1:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /dist
    volumes:
      - .:/dist
    ports:
      - "3000"
    environment:
      - INSTANCE=node1
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
# version: "3"

# services:
#   atg-test-01:
#     build:
#       context: .
#       dockerfile: Dockerfile
#       args:
#         S3_BUCKET: "${S3_BUCKET}"
#         AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
#         AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"