apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: atg-test-01-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: atg-test-01
    spec:
      containers:
      - name: atg-test-01
        # image: danishbacker/atg-test-01-nginx
        image: danishbacker/atg-test-01:prod
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources:
            limits:
              cpu: "0.5"
            requests:
              cpu: "0.25"