apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: atg-test-01-deployment
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: atg-test-01
    spec:
      containers:
      - name: atg-test-01
        image: danishbacker/atg-test-01:dev
        imagePullPolicy: Always
        ports:
        - containerPort: 3000