apiVersion: v1
kind: Service
metadata:
  name: atg-test-01
  labels:
    app: atg-test-01
spec:
  selector:
    app: atg-test-01
  ports:
  - port: 3000
    protocol: TCP
    nodePort: 30002
  type: LoadBalancer